body {
    font-size: 14px;
    font-family: Arial;
    padding: 20px;
  }
  
  p {
    margin: 20px 0;
    line-height: 22px;
  }
  
  h1 {
      text-align: center;
  }
  
  .avatar {
      vertical-align: middle;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      display: block;
      margin: 0 auto;
  }